{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <p>제목 - {{ post.title }}</p>
    </div>
    <div class="row">
        <p>작성자 - <a href="{% url 'accounts:profile' post.user %}">{{ post.user }}</a></p>
    </div>

    <div class="row">
        <div class="col">
            <p>선택1: {{ post.select1_content }}</p>
            <img src="{{ post.select1_image.url }}" alt="" width='200px'>
        </div>
        <div class="col">
            <p>선택2: {{ post.select2_content }}</p>
            <img src="{{ post.select2_image.url }}" alt="" width='200px'>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <form action="{% url 'posts:select' post_pk=post.pk answer=post.select1_content %}">
                {% csrf_token %}
                <button type="submit">{{ post.select1_content }}</button>
            </form>
            <p>{{ select1_user_count }}</p>
        </div>
        <div class="col">
            <form action="{% url 'posts:select' post_pk=post.pk answer=post.select2_content %}">
                {% csrf_token %}
                <button type="submit">{{ post.select2_content }}</button>
            </form>
            <p>{{ select2_user_count }}</p>
        </div>
    </div>

    {# 게시글 좋아요 #}
    <form action="{% url 'posts:likes' post.pk %}" method="POST">
      {% csrf_token %}
      {% if request.user.is_authenticated %}
        {% if request.user in post.like_users.all %}
          <input type="submit" value="좋아요 취소 {{ post.like_users.count }}">
        {% else %}
          <input type="submit" value="좋아요 {{ post.like_users.count }}">
        {% endif %}
      {% else %}
        <input type="submit" value="좋아요 {{ post.like_users.count }}" disabled>
      {% endif %}
    </form>


    <hr>
    {# 댓글 #}
    <form action="{% url 'posts:comment_create' post.pk %}" method="POST">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <input type="submit" value="댓글 작성">
    </form>
    <hr>
    {% for comment in comments %}
      <p>댓글 작성자 - <a href="{% url 'accounts:profile' comment.user %}">{{ comment.user }}</p></a>
      <p>댓글 내용 - {{ comment.content }}</p>
      <p>댓글 좋아요 - {{ comment.like_users.count }}</p>
      {# 댓글 좋아요 #}
      <form action="{% url 'posts:comment_like' post_pk=post.pk comment_pk=comment.pk %}" method="POST">
        {% csrf_token %}
        {% if request.user in comment.like_users.all %}
            <input type="submit" value='좋아요 취소'>
        {% else %}
            <input type="submit" value='좋아요'>
        {% endif %}
        
      </form>

      <hr>
    {% endfor %}
</div>


{% endblock content %}